<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Housemates - Create Post</title>


    <link href="/public/assets/nav.css" type="text/css" rel="stylesheet">
    <link href="/public/assets/createPost.css" type="text/css" rel="stylesheet">

  </head>

  <body>

    <header>
      <div class="header">
        <h1>Create A Post</h1>
      </div>
    </header>

    <div class="navbar">
        <form method="POST">
          <input type="hidden" name="name" value="<%= user[0].username %>">
          <button type="submit" formaction="/sendGroupPage" class="btn-link" >Feed Page</button>
          <button type="submit" formaction="/createPost" class="btn-link" >Create Post</button>
          <button type="submit" formaction="/logOut" class="btn-link" >Log Out</button>
  
          <p class ="loggedInAs">Logged in as <%= user[0].username %>   </p>
        </form>
    </div>
    
    <div class="main">
      <form method="POST" action="/insertPost">
        <h2>Create</h2>
        <input type="hidden" name="name" value="<%= user[0].username %>">

        <input type="text" name="pTitle" placeholder="Title"> <br>
        <input type="text" name="pDes" placeholder="Description"> <br>
        <input type="text" name="pTime" placeholder="Time  4:30pm"> <br>
        <input type="text" name="pDate" placeholder="Date 2022-3-24"> <br>


        <button type="submit" class="button-4" role="button">Create</button>
      </form>
      <br>
    </div>
    

    <footer class="text-muted"> 

    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
  </body>
</html>