<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Housemates - Home</title>


    <link href="/public/assets/nav.css" type="text/css" rel="stylesheet">
    <link href="/public/assets/group.css" type="text/css" rel="stylesheet">

  </head>

  <body>

    <header>
      <div class="header">
        <h1>Housemates</h1>
        <p> Group <%= user[0].groupName %>'s Feed.</p>
      </div>
    </header>

    <div class="navbar">
      <a href="/groupPage" class="active">Feed Page</a>
      <a href="/">Log Out</a>
      <form action="/createPost" method="POST">
        <button type="submit" class="btn-link" >Create Post</button>
      </form>
      <p class ="loggedInAs">Logged in as <%= user[0].username %>   </p>
    </div>
    
    <div class="main">
      <h2>Clean House</h2>
      <h5>By Parent 11:30am 1/09/2025</h5>
        <p>We are hosting a party at our house tonight and I am going to need everyones help to clean the house</p>
        <p></p>
        <br>
    </div>
    

    <footer class="text-muted"> 
      <div class="container">
      <p>This project is just for practice not made to hold any important info</p>
      <p>Created by Nathan Latronica, https://github.com/nathanlatronica/Housemates2.0</p>
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
  </body>
</html>