<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Housemates - Home</title>


    <link href="/public/assets/nav.css" type="text/css" rel="stylesheet">
    <link href="/public/assets/homePage.css" type="text/css" rel="stylesheet">

  </head>

  <body>

    <header>
      <div class="header">
        <h1>Housemates</h1>
        <p>A webapp to help keep households organizeda.</p>
      </div>
    </header>

    <div class="navbar">
      <a href="/" class="active">Home</a>
      <a href="/signUp">Sign Up</a>
      <a href="/logIn" >Log In</a>
    </div>
    
    <h2 style="text-align: center;">Example Feed</h2>
    <div class="blocks">
      <h2 class="title">Clean House</h2>
  
      <div class=" grouped">
        <h5 class="by">By Parent</h5> 
        <h5 class="stamp"> On 1/09/2025 at 11:30am  </h5>
      </div>
      <br>
      
      <p class="des">We are hosting a party at our house tonight and I am going to need everyones help to clean the house</p>
      <br>
    </div>

    <div class="blocks">
      <h2 class="title">Having Friends Over</h2>
  
      <div class=" grouped">
        <h5 class="by">By Son</h5> 
        <h5 class="stamp"> On 1/14/2025 at 7:30pm  </h5>
      </div>
      <br>
      
      <p class="des">Just want to let the family know that I will be having a couple friends over for a while.</p>
      <br>
    </div>   

    <div class="blocks">
      <h2 class="title">Vacuum the House</h2>
  
      <div class=" grouped">
        <h5 class="by">By Daughter</h5> 
        <h5 class="stamp"> On 1/16/2025 at 1:10pm  </h5>
      </div>
      <br>
      
      <p class="des">We have a lot of dog hair in the carpets and I will be vacuuming the majority of the house.</p>
      <br>
    </div> 

    <footer class="text-muted"> 
      <div class="container">
      <p>This project is just for practice not made to hold any important info
         Created by Nathan Latronica, <a href="https://github.com/nathanlatronica/Housemates2.0">Github repo</a>, <a href="https://nathanlatronica.com">My Website</a></p>
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
  </body>
</html>