/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
  
/* Header/logo Title */
.header {
  padding: 25px;
  text-align: center;
  background: linear-gradient(337deg, #ffd89b, #19547b);;
  color: white;
}
  
/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}
  
.loggedInAs {
  float: right;
  color: white;
  margin-right: 35px;
}

.btn-link {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  color: #ffffff;
  font-family: inherit;
  font-size: inherit;
}

.blocks {
  margin: auto ;
  width: 60%;
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);

}

.title {
  text-align: center;
  padding-top: 2%;
  
}

.by {
  margin:auto;
  padding-left: 35%;
  padding-right: 2%;
  float: left;
}

.stamp {
  margin: auto;
  padding-right: 35%;
  padding-left: 2%;
  float: right;
}

.des {
  padding-top: 2%;
  text-align: center;
}