/* Main column */
* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
  
/* Header/logo Title */
.header {
  padding: 25px;
  text-align: center;
  background: linear-gradient(337deg, #ffd89b, #19547b);;
  color: white;
}
  
/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}
  
.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
}

.loggedInAs {
  float: right;
  color: white;
  margin-right: 35px;
}

.btn-link {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  color: #ffffff;
  font-family: inherit;
  font-size: inherit;
}